<div class="align-items-center fs-6" [ngSwitch]="routeInfo">
  <please-wait
    [message]="'Map is transitioning'"
    [waiting$]="mapIsLoading$"
  ></please-wait>
  <ng-container *ngSwitchCase="'heatmaps'">
    <ng-template [ngTemplateOutlet]="heatmaps"></ng-template>
  </ng-container>
  <ng-container *ngSwitchCase="'farmair'">
    <ng-template [ngTemplateOutlet]="farmair"></ng-template>
  </ng-container>
  <ng-container *ngSwitchCase="'nuts-explorer'">
    <ng-template [ngTemplateOutlet]="nutsExlorer"></ng-template>
  </ng-container>
  <ng-container *ngSwitchCase="'hellinikon'">
    <ng-template [ngTemplateOutlet]="hellinikon"></ng-template>
  </ng-container>
</div>

<ng-template #heatmaps>
  <form [formGroup]="heatmapForm">
    <ui-select
      [label]="'Select a metric'"
      [selections]="heatmapMetrics"
      [tooltip]="'Select a metric to display a heatmap.'"
      formControlName="metric"
    ></ui-select>
  </form>
</ng-template>

<ng-template #farmair>
  <form [formGroup]="farmairForm">
    <div class="d-flex align-items-center gap-1 fs-6">
      <ui-select
        [label]="'Select a vineyard'"
        [selections]="farmairVineyards"
        [tooltip]="'Select a vineyard'"
        formControlName="vineyard"
      ></ui-select>
      <ui-select
        *ngIf="farmairForm.get('vineyard')?.value === 'C.S. WINERY'"
        [label]="'Select a scan date'"
        [selections]="farmairDatesCSWINERY"
        [tooltip]="'Select a scan date'"
        formControlName="date"
      ></ui-select>
      <ui-select
        *ngIf="farmairForm.get('vineyard')?.value === 'chardonay oinodiadromes'"
        [label]="'Select a scan date'"
        [selections]="farmairDatesChardonayOinodiadromes"
        [tooltip]="'Select a scan date'"
        formControlName="date"
      ></ui-select>
      <ui-select
        [label]="'Select an analysis layer'"
        [selections]="farmairLayers"
        [tooltip]="'Select an analysis layer'"
        formControlName="layer"
      ></ui-select>
    </div>
  </form>
</ng-template>

<ng-template #nutsExlorer>
  <form [formGroup]="nutsForm">
    <div class="d-flex align-items-center gap-2">
      <ui-select
        [label]="'Select NUTS Level'"
        [selections]="nutsLevels"
        [tooltip]="'Select NUTS Level.'"
        formControlName="nutsLevel"
      ></ui-select>
      <div *ngIf="nutsIsLoading$ | async" class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #hellinikon>
  <div class="d-flex align-items-center gap-1">
    <icon-button
      [icon]="'mdi mdi-stairs-up'"
      [tooltip]="'Flood up'"
      [id]="'floodup'"
      (buttonClick)="onClick($event)"
    ></icon-button>
    <icon-button
      [icon]="'mdi mdi-stairs-down'"
      [tooltip]="'Flood down'"
      [id]="'flooddown'"
      (buttonClick)="onClick($event)"
    ></icon-button>
    <icon-button
      [icon]="'mdi mdi-slope-uphill'"
      [tooltip]="'Terrain up'"
      [id]="'terrainup'"
      (buttonClick)="onClick($event)"
    ></icon-button>
    <icon-button
      [icon]="'mdi mdi-slope-downhill'"
      [tooltip]="'Terrain down'"
      [id]="'terraindown'"
      (buttonClick)="onClick($event)"
    ></icon-button>
  </div>
</ng-template>
