<div class="modal-header">
  <h4 class="modal-title" id="modalLabel">
    Live (almost) Meteorological Heatmaps
  </h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <p>
    We demonstrate the digital twin notion of consolidating several online
    metrics into a “live heatmap.” Our “sensors” are practically scrapped data
    from many web pages that display these metrics in isolation.
  </p>
  <form [formGroup]="form">
    <ui-select
      [label]="'Select a metric'"
      [selections]="metrics"
      formControlName="metric"
    ></ui-select>
  </form>
</div>
<!-- <div class="modal-footer">
  <button
    type="button"
    class="btn btn-primary"
    (click)="modal.close(form.controls.metric.value)"
  >
    Apply
  </button>
</div> -->
