<div class="modal-header">
  <h4 class="modal-title" id="modalLabel">Early Plant Stress Detection</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <h5>About</h5>
  <img src="/assets/images/farmAIr.png" style="float: right; width: 100px" />
  <p>
    Unlike what is currently available in the market, farmAIr technology
    (patented) uses thermal images and Artificial Intelligence to reveal
    <strong>Plant Stress</strong> before the onset of any symptom. farmAIr helps
    farmers and agronomists spot what they can't see with the naked eye, be
    aware, and take all necessary precautions to help prevent any spread.
    farmAIr technology is currently available for vineyards, planning to
    gradually expand to virtually any plant with leaves.
  </p>

  <p>
    <a href="https://farmair.io/">farmAIr</a> and Kokkotou Vineyards have kindly
    granted permission to use the present data.
  </p>

  <h5>Classification of Stress Factor</h5>

  <p>
    Pseudo-coloring Visualization of Low Stomatal Conductance (Plant Stress),
    Low Chlorophyll Leaf Content and Low Leaf Water Content
  </p>

  <table class="table">
    <tr>
      <td>
        <i class="ri-leaf-fill" style="color: #f7ed19"></i>
      </td>
      <td>Stress</td>
    </tr>
    <tr>
      <td>
        <i class="ri-leaf-fill" style="color: #7351a1"></i>
      </td>
      <td>Stress + low chlorophyll leaf content</td>
    </tr>
    <tr>
      <td>
        <i class="ri-leaf-fill" style="color: #475fab"></i>
      </td>
      <td>Stress + low leaf water content</td>
    </tr>
    <tr>
      <td>
        <i class="ri-leaf-fill" style="color: #c11e2c"></i>
      </td>
      <td>Stress + low chlorophyll leaf content + low leaf water content</td>
    </tr>
  </table>

  <h5>Plant's Leaf Chlorophyll Content</h5>

  <table class="table">
    <tr>
      <td>
        <img class="w-100 p-0" src="/assets/images/farmair-clor.png" />
        <div
          style="
            background: linear-gradient(to right, #b8000f, #e6de29, #3d8e02);
            color: white;
          "
          class="d-flex justify-content-between"
        >
          <div>Low</div>
          <div>High</div>
        </div>
      </td>
    </tr>
  </table>

  <h5>Digital Surface Scaling</h5>

  <table class="table">
    <tr>
      <td>
        <img class="w-100 p-0" src="/assets/images/farmair-dem.png" />
        <div
          style="
            background: linear-gradient(to right, #3a2862, #579e7e, #f3e41b);
            color: white;
          "
          class="d-flex justify-content-between"
        >
          <div>Low</div>
          <div>High</div>
        </div>
      </td>
    </tr>
  </table>
</div>
