<div class="modal-header">
  <h4 class="modal-title" id="modalLabel">Early Plant Stress Detection</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <h5>About</h5>
  <img src="/assets/images/farmAIr.png" style="float: right; width: 100px" />
  <p>
    Unlike what is currently available in the market, farmAIr technology
    (patented) uses thermal images and Artificial Intelligence to reveal Plant
    Stress before the onset of any symptom. farmAIr helps farmers and
    agronomists spot what they can't see with the naked eye, be aware, and take
    all necessary precautions to help prevent any spread. farmAIr technology is
    currently available for vineyards, planning to gradually expand to virtually
    any plant with leaves.
  </p>

  <p>
    <a href="https://farmair.io/">farmAIr</a> and Kokkotou Vineyards have kindly
    granted permission to use the present data.
  </p>
</div>
