<div class="modal-header">
  <h4 class="modal-title" id="modalLabel">Subsurface Water Solutions</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <h5>Technology Description</h5>

  <p>
    Subsurface Water Solutions (SWS) are a novel approach combining management
    and technology to protect, enlarge and utilize fresh groundwater resources.
  </p>

  <p>
    In coastal areas, decentralized SWS can be implemented through an aquifer
    storage and recovery configuration to address seawater intrusion and
    over-abstraction of groundwater.
  </p>

  <p>
    SWS make use of the subsurface’s potential to store water and it is
    distinguished by new well designs and configurations as well as new
    management features to precisely control the fresh groundwater resources.
    SWS are adaptable to changing environmental and socio-economic conditions.
  </p>

  <h5>Flow scheme of the technology</h5>

  <img
    src="/assets/images/subsol0.png"
    alt="Subsurface Water Solutions Technology Flow Scheme"
  />
</div>
