<h4>Live Meteorological Heatmaps</h4>

<p>
  We demonstrate the digital twin notion of consolidating several online metrics
  into a “live heatmap.” Our “sensors” are practically scrapped data from many
  web pages that display these metrics in isolation.
</p>

<div class="row">
  <div class="col">
    <form [formGroup]="form">
      <ui-select
        [label]="'Select a metric'"
        [selections]="metrics"
        formControlName="metric"
      ></ui-select>
    </form>
  </div>
  <div class="col" *ngIf="timeOfObservation">
    <ui-disabled-input
      [label]="'Time of observation'"
      [value]="timeOfObservation"
    ></ui-disabled-input>
  </div>
</div>

<app-map #map></app-map>
