<div class="modal-header">
  <h4 class="modal-title" id="modalLabel">Sewer Minining Technology</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <p>
    The Athens Urban Tree Nursery comprises 4 hectares of vegetation, supplies
    all urban parks and green spaces of Athens with plant material, and uses
    potable water from Athens’s Water Supply and Sewerage Company (EYDAP) for
    irrigation. The city is seeking alternative water sources leveraging
    circular economy solutions to achieve environmental, social, and financial
    benefits for the town.
  </p>

  <p>
    Installing a sewer mining modular unit for urban green irrigation at the
    point of demand brought direct benefits for the sustainability of the new
    metropolitan park. Compost-based eco-engineered growing media products are
    also reused as an onsite fertilizer for a portfolio of autonomous,
    decentralized water, energy, and materials circular solutions for cities in
    water-scarce areas. Finally, thermal energy recovery schemes were
    investigated to minimize the pilot’s environmental footprint.
  </p>

  <div class="ratio ratio-16x9 mb-2">
    <iframe
      src="https://www.youtube.com/embed/B6m7JLbRJUQ"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>
