<div class="card">
  <div class="card-body p-0">
    <apx-chart
      class="apex-charts"
      #chart
      [series]="series"
      [chart]="chartData"
      [xaxis]="xaxis"
      [stroke]="stroke"
      [plotOptions]="plotOptions"
      [fill]="fillData"
      [autoUpdateSeries]="false"
      [title]="titleRef"
      [subtitle]="subTitleRef"
      [labels]="labels"
      [dataLabels]="dataLabels"
      [grid]="{ padding: { top: 0, right: 0, bottom: 0, left: 0 } }"
    ></apx-chart>
  </div>
</div>
