<div class="modal-header">
  <h4 class="modal-title" id="modalLabel">Digital Twins of Attica</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-lg-8 col-12 d-flex flex-column gap-1">
      <p>
        A Regional Digital Twin (DT) for climate adaptation and green business
        development is been implemented in the Attica region in Greece, in the
        framework of the IMPETUS project. This platform is built on real time
        data of initiatives and solutions implemented and tested in Attica to
        create a central hub for knowledge and experience to be turned into
        action in a co-creation process with the interested parties and the
        policy makers.
      </p>

      <p>
        In principle, the DT presents the scope but also the operation of
        various climate adaptation innovations and pilot projects both created
        in IMPETUS and in other projects. The main idea is to provide
        appropriate, ideally real time data to support climate change adaptation
        efforts and improve the resilience of the Attica Region. The ultimate
        goal is to support strategic climate adaplation planning according to
        the impacts of extreme weather events and other climate change related
        factors, focusing on the identification of the most vulnerable areas of
        the Region.
      </p>

      <p>The basic elements of the DT platform include:</p>
      <ul>
        <li>
          Descriptive element of the basic concept of the implemented solutions
          for the adaptation of the Attica Region to climate change (in the form
          of a factsheet)
        </li>
        <li>
          Continuous presentation and updating of digital data of the
          applications and the solutions as an element of maturity and
          reliability (interactive element of the factsheet)
        </li>
        <li>Visualization of the real time presentation of the solutions</li>
        <li>
          Training and engagement of stakeholders and policy makers for the
          transfer of knowledge and adaptation of the implemented solutions to
          the specific needs of each particular area.
        </li>
      </ul>
    </div>
    <div class="col-lg-4 text-center d-none d-lg-block">
      <img src="assets/images/attica.png" />
      <p class="font-10">
        Attica (region). (2023, March 26).
        <a href="https://en.wikipedia.org/wiki/Attica_(region)"
          >In Wikipedia.</a
        >
      </p>
    </div>
  </div>
  <div class="row d-lg-flex d-none align-items-center align-content-center">
    <div class="col-6">
      <img class="img-fluid" src="/assets/images/impetus-logo.svg" />
    </div>
    <div class="col-2">
      <img class="img-fluid" src="/assets/images/eu.jpg" />
    </div>
    <div class="col-4">
      <p class="font-10">
        Proud to be supported by Europe. This project has received funding from
        the European Union’s Horizon 2020 research and innovation programme
        under grant agreement No 101037084
      </p>
    </div>
  </div>
</div>
<!-- <div class="modal-footer">
  <button
    type="button"
    class="btn btn-primary"
    (click)="modal.close('Close click')"
  >
    Continue
  </button>
</div> -->
