<div class="modal-header">
  <h4 class="modal-title" id="modalLabel">Digital Twins of Attica</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-lg-8 col-12 d-flex flex-column gap-1">
      <p>
        The Digital Twins of the Attica region integrates innovations and pilots
        that different projects have implemented for climate adaptation. It aims
        to provide a tool to support climate adaptation efforts and improve the
        region's resilience against climate change's impacts.
      </p>

      <p>
        As a proof of concept, the Digital Twins of Attica will have several
        uses. It will support urban planning by simulating the impacts of
        extreme weather events and other climate change-related factors on the
        built environment and identifying the most vulnerable areas.
      </p>

      <p>
        As Attica is dependent on water resources, both for domestic consumption
        and agriculture, the Digital Twins will improve the efficiency of water
        usage and enhance the system's resilience against the impacts of climate
        change.
      </p>

      <p>
        The Digital Twins will provide flood risk assessment by simulating the
        impact of floods on particular areas, taking into account various
        factors such as rainfall, river flow, and land use. Through the Digital
        Twin, stakeholders will reduce the risk of flooding by improving
        drainage systems, increasing the elevation of buildings, and protecting
        critical infrastructures. Also, real-time monitoring of floods will
        allow stakeholders to respond quickly to emergencies and make informed
        decisions based on real-time information.
      </p>
    </div>
    <div class="col-lg-4 text-center d-none d-lg-block">
      <img src="assets/images/attica.png" />
      <p class="font-10">
        Attica (region). (2023, March 26).
        <a href="https://en.wikipedia.org/wiki/Attica_(region)"
          >In Wikipedia.</a
        >
      </p>
    </div>
  </div>
  <div class="row d-lg-flex d-none align-items-center align-content-center">
    <div class="col-6">
      <img class="img-fluid" src="/assets/images/impetus-logo.svg" />
    </div>
    <div class="col-2">
      <img class="img-fluid" src="/assets/images/eu.jpg" />
    </div>
    <div class="col-4">
      <p class="font-10">
        Proud to be supported by Europe. This project has received funding from
        the European Union’s Horizon 2020 research and innovation programme
        under grant agreement No 101037084
      </p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-primary"
    (click)="modal.close('Close click')"
  >
    Continue
  </button>
</div>
