<div class="d-flex align-items-center gap-1">
  <icon-button
    [icon]="'mdi mdi-information-outline'"
    [tooltip]="'Further Info'"
    [id]="'info'"
    (buttonClick)="onClick($event)"
  ></icon-button>
  <icon-button
    [icon]="'mdi mdi-help-circle-outline'"
    [tooltip]="'Help'"
    [id]="'help'"
    (buttonClick)="onClick($event)"
  ></icon-button>
  <icon-button
    [icon]="'mdi mdi-monitor-screenshot'"
    [tooltip]="'Save Map'"
    [id]="'save'"
    (buttonClick)="onClick($event)"
  ></icon-button>
  <icon-button
    [icon]="'mdi mdi-map-marker-plus'"
    [tooltip]="'Display Map Info'"
    [id]="'mapinfo'"
    (buttonClick)="onClick($event)"
  ></icon-button>
</div>
